body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

main {
    color: #333333;
    background-color: #fdfdfd;
}

section {
    margin: 25px auto;
    padding: 20px;
    max-width: 800px;
}
